.wrapper {
  display: grid;
  grid-template-columns: 50px 1fr;
}

.toolbar {
  padding: 1rem;
  height: calc(100vh - 2em);
  background-color: #111111;
  color: #aaaaaa;
  display: flex;
  flex-direction: column;
}

.toolbar ul:first-child {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar ul:first-child li + li {
  margin-top: 0.5rem;
}

.toolbar ul:last-child {
  margin: auto auto 0 auto;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.toolbar ul:last-child li + li {
  margin-top: 0.5rem;
}

.content {

}